<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add A Movie</title>
</head>
<body>
<fieldset>
    <legend>Add A Movie</legend>
    <!--    we use coffee/new that we created on  coffee controller-->
    <form action="/posts/movies" method="post">
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <input type="submit" value="submit">
    </form>
</fieldset>
</body>
</html>