body{
    background-color: gray;
}


.navbar-brand{
    background-image: linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    color: transparent;
}

#navb{
    display: flex;
    justify-content: center;
}

.nav-link{
    color: black;
}

/*Need to correct spacing*/