<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partialsAllBlogs.html :: head ('All Blogs')" >
    <meta charset="UTF-8">
    <title>Your Blogs</title>
</head>
<body>

<nav th:replace="partials/partialsAllBlogs.html :: bootstrap-nav"></nav>
<br>
<section th:replace="partials/partialsAllBlogs.html :: bootstrap-profile"></section>
<!--<nav th:replace="partials/partialsAllBlogs.html :: bootstrap-side"></nav>-->
<br>

<div th:replace="partials/partialsAllBlogs.html :: bootstrap-cards"></div>


</body>
</html>